body {
    width: 100%;

}


/*header*/

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left-header img {
    width: 100px;
    height: auto;
}

.right-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.right-header li {
    margin-right: 20px;
}

.right-header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.right-header a:hover {
    color: #ff2e2e;
    /* Change to desired hover color */
}

.right-header li:last-child a {
    margin-right: 0;
}



/*first section*/


.first-section {
    padding: 30px;
    height: 650px;
    display: flex;
    width: 100%;
    margin-top: 110px;
    position: relative;
}

.first-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/bg/dumbells.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    z-index: -1;
}

.left-first-section {
    width: 40%;
    align-items: center;
    margin: auto;
    margin-left: 100px;
}

.left-first-section h2 {
    padding: 10px;
    color: azure;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
}

.left-first-section h2 span {
    padding: 10px;
    color: azure;
    font-weight: bold;
    font-size: 40px;
    font-stretch: expanded;
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
}

.left-first-section h2 span:hover {
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.right-first-section {
    width: 60%;
    margin: auto 0px;
}

.video-section-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-right: -85px;
}

.video-section-2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: -85px;

}

.video-container {
    width: 40%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    transition: 0.3s;
}

.video-container:hover {
    width: 40%;
    border-radius: 75px;
    cursor: pointer;
    transition: 0.3s;
}

.video-container video {
    width: 95%;
    clip-path: inherit;
    transition: 0.3s;
}

.video-container:hover video {
    transform: scale(1.2);
    transition: 0.3s;
}

.transparent-button {
    margin-top: -10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
}


.transparent-button:hover {
    background-color: rgba(204, 199, 199, 0.2);
    border-radius: 20px;
}


/*second section*/

.about-us {
    width: 100%;
    height: 500px;
    display: flex;
}

.about-us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.right-section h1 {
    transform: rotate(-90deg);
    transform-origin: center;
    margin-top: 315px;
    height: auto;
    width: 100px;
    white-space: nowrap;
    align-items: center;
}

.left-section {
    width: 50%;
    background-color: rgb(204, 195, 195);
    padding: 30px;
}

.left-section h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}


.left-section h1 span {
    color: black;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}



/*third*/

.workout-offered {
    display: flex;
    height: 900px;
}

.workout-offered .left {
    background-color: white;
    height: 900px;
    width: 50%;
}

.workout-offered .right {
    background-color: rgb(145, 132, 132);
    height: 900px;
    width: 50%;
}


.circle-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ee807c;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}


.circle-btn:hover {
    background-color: #da990d;
    /* Change background color on hover */
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.8);
    /* Add text shadow on hover */
    transition: 0.2s;
}


.circle-btn img {
    height: 90px;
    width: auto;
}

.workouts-f1 {
    display: flex;
    padding: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.workouts {
    display: flex;
    padding: 30px;
    margin-bottom: 14px;
}


/*fourth*/

.facilities {
    background-image: url('images/bg/fourthbg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*containers*/


.facility-container-1 {
    background: linear-gradient(to right, #7c0808, #ac1111, transparent), url('images/gym.jpeg');
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    height: 180px;
    width: 500px;
    padding: 30px;
    text-align: center;
    transition: background-size 0.3s;
}

.facility-container-2 {
    background: linear-gradient(to right, #9c8312, #dabd1c, transparent), url('images/cafeteria.jpeg');
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    height: 180px;
    width: 500px;
    padding: 30px;
    text-align: center;
    transition: background-size 0.3s;
}

.facility-container-1:hover {
    background-size: 120%;
    cursor: pointer;
}

.facility-container-2:hover {
    background-size: 120%;
    cursor: pointer;
}

.around-container {
    display: flex;
    padding: 30px;
    justify-content: space-around;
}

.facilities h1,
.facilities h3,
.facilities p {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 2);
}



/*fifth section*/

.start-training {
    padding: 20px;
    background-color: rgb(56, 57, 58);

}

.contents {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: -50px;
}

.contents h3 {
    font-size: 230px;
    color: rgb(77, 78, 80);
}

.contents .img1,
.contents .img2 {
    border-radius: 50%;
    width: 330px;
    height: 330px;
    border: 13px solid rgb(77, 78, 80);
}

.contents .img1 {
    margin-right: 30px;
    /* Adjusted margin */
    margin-left: 30px;
    /* Adjusted margin */
}

.contents .img2 {
    margin-right: 30px;
    /* Adjusted margin */
    margin-left: 30px;
    /*  margin */
}

.number-container {
    width: 300px;
    height: auto;
    flex-shrink: 0;
    /* Prevents the number container from shrinking */

}

.text-container {
    width: 300px;
    height: auto;
}



/*sixth section*/

.contact-section {
    display: flex;

}

a {
    text-decoration: none;

}

.contact-section a:hover p {
    color: black !important;
}

.contact-section h1 {
    color: rgb(8, 8, 8);
    margin: 40px auto;
    text-align: left;
}

.info-holder {
    display: flex;
    align-items: center;

}

.icon-holder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



/*footer*/

.footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    flex: 1;
}

.footer-text {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    font-size: 20px;
}

.query-section {
    flex: 1;
}

.query-heading {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.query-form {
    display: flex;
    flex-direction: column;
}

.query-textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #bdb9b9;
}

.query-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.query-submit:hover {
    background-color: #0056b3;
}


/*about us*/

/*first section about us*/
.red-bg {
    background-color: rgb(204, 64, 64);
    width: 100%;
    height: 400px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.red-bg h1 {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 100px;
    color: white;
    position: relative;
    z-index: 1;
}

.red-bg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: auto;
}

/*second section about us*/

.writing {
    display: flex;
    background-color: rgb(253, 240, 240);
}

.writing img {
    width: auto;
    height: auto;
}

.writing h2 {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    color: rgb(32, 31, 31);
    position: relative;
}

.writing>.left {
    padding: 80px;
}

.writing>.right {
    display: flex;
    align-items: center;
    margin-left: -50px;
    margin-right: 50px;
}

/*third section about us*/

.about-founder {
    background-color: rgb(204, 64, 64);
    display: flex;
    height: 400px;
    align-items: center;

}

.about-founder img {
    width: auto;
    height: 300px;
    border-radius: 50%;

}


.about-founder>.left {
    padding: 50px;
}

.about-founder>.right {
    padding: 150px;
}


/*packages.html*/


/*what are packages*/

.what-packages {
    background-color: white;
    display: flex;
}

.what-packages .left {
    width: 50%;
    padding: 70px;
}

.what-packages .right {
    width: 50%;
}

.what-packages img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}


/*packages*/
.facilities-p {
    position: relative;
}

.facilities-p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000, transparent), url('images/bg/package-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: blur(4px);
    z-index: -1;
}

.facility-container1p {
    background: linear-gradient(to right, #000000, #011a2e, #032c47, transparent), url('images/gym.jpeg');
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    height: 180px;
    width: 500px;
    padding: 30px;
    text-align: center;
    transition: background-size 0.3s;

}

.facility-container2p {
    background: linear-gradient(to right, #080808, #330b28, #4e103c, transparent), url('images/gym2.jpeg');
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    height: 180px;
    width: 500px;
    padding: 30px;
    text-align: center;
    transition: background-size 0.3s;

}

.facility-container1p:hover {
    background-size: 120%;
    cursor: pointer;
}

.facility-container2p:hover {
    background-size: 120%;
    cursor: pointer;
}

.around-container1p {
    display: flex;
    padding: 30px;
    justify-content: left;
    padding-left: 200;
}

.around-container2p {
    display: flex;
    padding: 30px;
    justify-content: right;
    padding-right: 200;
}

.facilities-p h1,
.facilities-p h2,
.facilities-p h3,
.facilities-p p {
    color: white;
    text-shadow: 0 2px 30px rgb(0, 0, 0);
}


/*competition.html*/


.achievers {
    padding: 200px 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #080808, #3d3c3c, #555353, rgb(255, 255, 255)); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
  

.achievers h1 {
    margin-top: -50px;
    padding-bottom: 20px;
    font-size: 42px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 20px rgba(243, 239, 239, 0.3);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px 20px;
}

.grid-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.details {
    padding: 20px;
    height: 200px;
}

.details h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.details ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
}

.details ul li {
    color: #666;
    margin-bottom: 5px;
}

.achievements {
    background: linear-gradient(135deg, #f8967e, #f38e40, #f14337);
    border-radius: 0 0 8px 8px;
    padding: 15px;
    text-align: center;
}

.achievements img {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.achievements h3 {
    margin: 0;
    font-size: 18px;
    color: #fff;
}

.achievements h5 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}


/*media query for phone*/